@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

/* .flex-child-photo {
  width: 25em;
  margin-right: 3em;
  background-image: url(images/declaration.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}  */

body{
  background-color: brown;
  justify-content: center;
  flex-direction: row;
}

.flex-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: 10em;
  margin-right: 10em;
}

.flex-child-signup{
  flex: 0.5;
  background-color: rgb(0,0,0,0.6);
  font-family: 'Cookie';
  justify-content: center;
  text-align: center;
}

.flex-child-photo {
  flex: 0.5;
  margin-left: 2em;
  background-image: url(images/declaration.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* display: none; */
} 

.head{
  color: white;
  padding-bottom: 5px;
  font-size: 3em;
}

.links{
  text-decoration: none;
  font-size: x-large;
  color: white;
  background-color: rgb(22, 154, 216);
  padding: 10px;
  border-radius: 5px;
  padding-left: 1em;
  padding-right: 1em;
  width: 30%;
}



.signupl .links{
  background-color: rgb(14, 168, 65);
}

.signupl .links :hover{
  background-color: rgb(176, 196, 155);
}

.inputf{
  margin-bottom: 5px;
}

.inputf input{
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  background: rgba(126, 121, 121, 0.6);
  border: none;
  font-size: 20px;
}

.err{
  font-size: xx-large;
  margin-top: 1em;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  display: none;
}

.signinl{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.signinl p{
  display: flex;
  /* float: left; */
  margin-left: 1em;
  color: white;
  font-size: xx-large;
}

.signinl a{
  /* float: right; */
  margin-left: 10px;
  margin-right: 1em;
}

.signupl{
  padding: 2em;

}

.signupl a:hover{
  background-color: rgb(74, 110, 37);
  transition: 0.4s;
}

.signinl a:hover{
  background-color: rgb(32, 32, 102);
  transition: 0.4s;
}

.inputf input:focus{
  border-color: none;
}

::placeholder{
  opacity: 1;
  color: white;
}

.inputf{
  padding: 10px;
  height: 1.5em;
}

@media only screen and (max-device-width: 1100px) {

  .flex-container{
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
  }

  .flex-child-signup{
    flex: 0.5;
  }
  
}



